{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center align-items-center" style="min-height: 65vh;">
    <div class="col-md-6 educ-card">
        <h2 class="mb-4" style="color: #197278;">Déposer un vœu</h2>
        <form method="post" class="educ-form mb-3">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-educ btn-lg mt-2">Déposer</button>
        </form>
        <a href="{% url 'voeux:suivi_voeux' %}" class="btn btn-link">Voir mes vœux</a>
    </div>
</div>
{% endblock %}
